@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Poppins:wght@400;600&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", "sans-serif", "Poppins";
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  /* background-color: #; */
  /* background-image: url("/Weather-Death-Valley-National-Park-US-National-Park-.jpg"); */
  background-image: url("/photo-1593978301851-40c1849d47d4.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

input {
  background-color: #fff;
  border: none;
  border-radius: 25px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  font-family: inherit;
  font-size: 1rem;
  padding: 1rem;
  min-width: 300px;
}

input:focus {
  outline: none;
}

.weather {
  font-size: 2rem;
  text-align: center;
}

.weather h2 {
  margin-bottom: 0;
  display: flex;
  align-items: center;
}
